@import '../settings';

.page_home{
    height: 93vh;
    .page_home_content{
        height: 100%;
        display: flex;
        align-items: center;
        // .home_bloc{
        //     display: flex;
        //     flex-direction: column;
        //     position: absolute;
        //     right: 20em;
        //     top: 16em;
        //     width: 20%;
            
        //     .home_right{
        //         font-size: $size11;
        //         width: 100%;
        //         text-transform: uppercase;
        //         letter-spacing: 10px;
        //     }
        //     .link{
        //         color: $primary-color;
        //         font-weight: 300;
        //         &:hover{
        //             font-weight: 400;
        //         }
        //     }
            
        // }
        .home_bloc_left{
            height: 100%;
            width: 100%;
            img{
                height: 92vh;
                width: 100vw;
                object-fit: cover;
                padding: 7vh 7vh 7vh 7vh;
            }
        }
        
    }    
}

@media (max-width: $breakpoint-tablet) {

    .page_home{
        .page_home_content{
            padding: 0 3vh;
            flex-direction: column;
            .home_bloc{
                display: flex;
                flex-direction: column;
                position: inherit;
                width: 100%;
                height: 50%;
                justify-content: end;
                padding-bottom: 2em;
                .home_left,
                .home_right{
                    font-size: $size8;
                    padding-left: 0;
                }
                // .link{
                // }
            }
            .home_bloc_left{
                width: 100%;
                height: 50%;
                img{
                    height: 70vh;
                    width: 100%;
                    padding: 6vh 3vh;
                }
            }
            
        }    
    }


}